<form class="data-model-node-editor" [formGroup]="nodeForm">
  <app-section-header title="Properties" />

  <mat-form-field class="w-100">
    <mat-label>Name</mat-label>
    <input matInput required formControlName="name">
  </mat-form-field>

  <app-section-header title="Fields">
    <button mat-icon-button (click)="addDirectField()" matTooltip="Add field">
      <mat-icon>add</mat-icon>
    </button>
  </app-section-header>

  <app-data-model-node-fields-table
    [fields]="fields()"
    [dataTypes]="store.dataTypes()"
    [compact]="compact()"
    (orderChanged)="orderChanged($event)"
    (editDirectField)="editDirectField($event)"
    (deleteDirectField)="deleteDirectField($event)"
    (goToEdge)="goToEdge.emit($event)" />
</form>
