<form [formGroup]="propertiesForm">
  <div class="table-properties__fields">
    <mat-form-field>
      <mat-label>Table Name</mat-label>
      <input matInput required formControlName="name">
      <mat-error>Example validation error</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tablespace</mat-label>
      <mat-select required formControlName="tablespace">
        <mat-option value="SYSTEM">SYSTEM</mat-option>
        <mat-option value="TEMP">TEMP</mat-option>
        <mat-option value="USERS">USERS</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
  <div class="table-properties__control">
    <button mat-flat-button type="submit">
      <mat-icon>save</mat-icon> Save
    </button>
  </div>
</form>
