<app-layout-header-and-content class="table-all-relationships" [title]="('TABLES.RELATIONSHIPS.LABEL' | translate)()">
  @if (tableNamesResource.isLoading()) {
    <app-progress-spinner class="d-block pt-1" [center]="true" />
  } @else if (tableNamesResource.error()) {
    <app-project-connection-error-alert class="d-block pt-1" [error]="tableNamesResource.error()" />
  } @else {
    <app-table-selection-list [formControl]="tablesControl" [tableNames]="tableNamesResource.value() ?? []">
      <span class="table-all-relationships__tables-description">{{ ('TABLES.RELATIONSHIPS.SELECTION_DESCRIPTION' | translate)() }}</span>
    </app-table-selection-list>
    <div class="table-all-relationships__actions">
      <button mat-flat-button [disabled]="tablesControl.invalid" (click)="showDiagram()">{{ ('GENERIC.CONFIRM_LABEL' | translate)() }}</button>
    </div>
  }
</app-layout-header-and-content>
