<mat-table [dataSource]="resolvedAttributes()" cdkDropList cdkDropListLockAxis="y"
           (cdkDropListDropped)="onDrop($event)"
           class="data-model-entity-attributes-table">
  <ng-container matColumnDef="drag">
    <mat-header-cell *matHeaderCellDef/>
    <mat-cell *matCellDef="let _row">
      <mat-icon cdkDragHandle class="data-model-entity-attributes-table__drag-handle">drag_indicator</mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span class="text-code">{{ row.attribute.name }}</span>
      @if (row.source === 'direct' && row.attribute.isPrimaryKey) {
        <mat-icon class="data-model-entity-attributes-table__primary-key-icon"
                  matTooltip="Primary key">key
        </mat-icon>
      } @else if (row.source === 'relationship') {
        @if (row.relationship.isIdentifying) {
          <mat-icon class="data-model-entity-attributes-table__primary-key-icon"
                    matTooltip="Primary key">key
          </mat-icon>
        }
        <mat-icon class="data-model-entity-attributes-table__relationship-icon"
                  matTooltip="From relationship">link
        </mat-icon>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef/>
    <mat-cell *matCellDef="let row">
      @if (row.source === 'direct') {
        <button mat-icon-button [matMenuTriggerFor]="directAttributeMenu" [matMenuTriggerData]="{ row }">
          <mat-icon>more_vert</mat-icon>
        </button>
      } @else {
        <button mat-icon-button [matMenuTriggerFor]="relationshipAttributeMenu" [matMenuTriggerData]="{ row }">
          <mat-icon>more_vert</mat-icon>
        </button>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef
                     class="data-model-entity-attributes-table__empty">
      {{ ('DATAMODEL.ENTITY.ATTRIBUTES.EMPTY_LABEL' | translate)() }}
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS" class="data-model-entity-attributes-table__row"/>
  <mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;" cdkDrag [cdkDragData]="row"
           class="data-model-entity-attributes-table__row"/>
  <mat-footer-row *matFooterRowDef="['noData']"
                 [class.data-model-entity-attributes-table__empty-row--hidden]="resolvedAttributes().length > 0"/>
</mat-table>

<mat-menu #directAttributeMenu xPosition="before">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item (click)="editAttribute.emit(row)">
      <mat-icon>edit</mat-icon>
      Edit attribute
    </button>
    <button mat-menu-item (click)="deleteAttribute.emit(row)">
      <mat-icon>delete</mat-icon>
      Delete attribute
    </button>
  </ng-template>
</mat-menu>

<!-- TODO: icon -->
<mat-menu #relationshipAttributeMenu xPosition="before">
  <ng-template matMenuContent let-row="row">
    <button mat-menu-item (click)="goToRelationship.emit(row)">
      <mat-icon>open_in_new</mat-icon>
      Go to relationship
    </button>
  </ng-template>
</mat-menu>
