<div class="diagram-entity-relationship__entity text-code">
  <span class="diagram-entity-relationship__entity__name">{{ entity().name }}</span>
  <div class="diagram-entity-relationship__entity__columns__wrapper">
    <table class="diagram-entity-relationship__entity__columns">
      @for (column of entity().columns; track column.name) {
        <tr>
          @if (hasPrimaryKey()) {
            <td class="primary-key">
              @if (column.primaryKey) {
                <mat-icon>key</mat-icon>
              }
            </td>
          }
          <td>{{ column.name }}</td>
          <td>{{ column.type }}</td>
          @if (hasNotNullColumn()) {
            <td>{{ column.nullable ? '' : 'NOT NULL' }}</td>
          }
        </tr>
      }
    </table>
  </div>
</div>
