<div class="diagram-entity-relationship__entity text-code">
  <span class="diagram-entity-relationship__entity__name">{{ entity().name }}</span>
  <div class="diagram-entity-relationship__entity__columns__wrapper">
    <table class="diagram-entity-relationship__entity__columns">
      @for (column of entity().columns; track column.name) {
        <tr>
          <td>{{ column.name }}</td>
          <td>{{ column.type }}</td>
          @if (hasNotNullColumn()) {
            <td>{{ column.nullable ? '' : 'NOT NULL' }}</td>
          }
        </tr>
      }
    </table>
  </div>
</div>
