<mat-expansion-panel class="object-selector" (opened)="triggerObjectLoadIfNeeded()">
  <mat-expansion-panel-header>
    <div class="object-selector__header">
      <span>{{ title() }}</span>
      @if (loading()) {
        <app-progress-spinner size="small" />
      }
    </div>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    @if (!loading() && objectListEntries()) {
      @for (entry of objectListEntries(); track entry.name) {
        <a
          mat-list-item
          [routerLink]="entry.routerLink"
          routerLinkActive
          #rla="routerLinkActive"
          [activated]="rla.isActive"
        >{{ entry.name }}</a>
      }
    }
  </ng-template>
</mat-expansion-panel>
