<mat-expansion-panel class="object-selector" [disabled]="!!error()" (opened)="onOpened()">
  <mat-expansion-panel-header>
    <div class="object-selector__header">
      <span>{{ title() }}</span>
      @if (effectiveLoading()) {
        <app-progress-spinner size="small" />
      } @else if (error(); as err) {
        <button
          mat-icon-button
          class="object-selector__error"
          (click)="$event.stopPropagation(); displayError.emit(err)"
        >
          <mat-icon>error</mat-icon>
        </button>
      } @else {
        <ng-content select="[object-selector-action]" />
      }
    </div>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    @for (entry of (entries() ?? []); track entry.id) {
      <a
        mat-list-item
        [routerLink]="entry.routerLink"
        routerLinkActive
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        appSidebarClose
      >{{ entry.label }}</a>
    }
  </ng-template>
</mat-expansion-panel>
