<h2 mat-dialog-title>{{ ('DATA_MODELER.LOGICAL.DIALOGS.ADD_EXISTING_ENTITY_TITLE' | translate)() }}</h2>

<mat-dialog-content>
  @if (data.entities.length === 0) {
    <app-alert>
      {{ ('DATA_MODELER.LOGICAL.DIALOGS.ADD_EXISTING_ENTITY_EMPTY' | translate)() }}
    </app-alert>
  } @else {
    <mat-nav-list>
      @for (entity of data.entities; track entity.nodeId) {
        <mat-list-item (click)="select(entity)">
          {{ entity.name }}
        </mat-list-item>
      }
    </mat-nav-list>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">
    {{ ('GENERIC.CANCEL_LABEL' | translate)() }}
  </button>
</mat-dialog-actions>
