<div class="nav__container">
  <mat-nav-list class="nav">
    <a
      mat-list-item
      [routerLink]="['/project', projectId(), 'properties']"
      routerLinkActive
      #rla="routerLinkActive"
      [activated]="rla.isActive"
    >{{ ('PROJECTS.PROPERTIES.LABEL' | translate)() }}</a>
    <app-project-object-nav-host [projectId]="projectId()" />
    <a
      mat-list-item
      [routerLink]="['/project', projectId(), 'collaborators']"
      routerLinkActive
      #rla1="routerLinkActive"
      [activated]="rla1.isActive"
    >{{ ('PROJECTS.COLLABORATORS.LABEL' | translate)() }}</a>
  </mat-nav-list>
</div>
