@use '@angular/material' as mat;
@import './scss/theme';
@import './scss/base/reset';

@import './scss/layouts/content-with-sidebar';

@import './scss/components/alert';
@import './scss/components/content-card';
@import './scss/components/object-selector';
@import './scss/components/project-list';
@import './scss/components/project-list-table';
@import './scss/components/project-object-selector';
@import './scss/components/project-properties';
@import './scss/components/project-selector';
@import './scss/components/table';
@import './scss/components/table-columns';
@import './scss/components/table-properties';
@import './scss/components/top-bar';

@include mat.core();

@include app-layout-content-with-sidebar();

@include app-alert();
@include app-content-card();
@include app-object-selector();
@include app-project-list();
@include app-project-list-table();
@include app-project-properties();
@include app-project-object-selector();
@include app-project-selector();
@include app-table();
@include app-table-columns();
@include app-table-properties();
@include app-top-bar();

html {
  @include mat.core-theme($theme);

  @include mat.button-theme($theme);
  @include mat.expansion-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.icon-theme($theme);
  @include mat.icon-button-theme($theme);
  @include mat.list-theme($theme);
  @include mat.progress-spinner-theme($theme);
  @include mat.ripple-theme($theme);
  @include mat.select-theme($theme);
  @include mat.sort-theme($theme);
  @include mat.table-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.toolbar-theme($theme);
  @include mat.tooltip-theme($theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root {
  height: 100vh;
  background-color: mat.get-theme-color($theme, surface-container);
  overflow: hidden;
}

.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-content {
  --app-content-height: var(--mat-toolbar-standard-height);
  height: calc(100vh - var(--app-content-height));

  @media (max-width: 599.99px) { // breakpoint used by @angular/material for toolbar height
    --app-content-height: var(--mat-toolbar-mobile-height);
  }
}
