@use '@angular/material' as mat;
@use './scss/theme' as t;
@use './scss/utilities/breakpoints' as breakpoints;
@use './scss/base/reset';

@use './scss/layouts/auth';
@use './scss/layouts/header-and-content';
@use './scss/layouts/content-with-sidebar';
@use './scss/utilities/dimensions';
@use './scss/utilities/display';
@use './scss/utilities/icon';
@use './scss/utilities/text-code';

@use './scss/components/404' as error-404;
@use './scss/components/admin-faq';
@use './scss/components/alert';
@use './scss/components/code-editor';
@use './scss/components/confirmation-dialog';
@use './scss/components/content-card';
@use './scss/components/help-faq';
@use './scss/components/nav';
@use './scss/components/project-object-selector';
@use './scss/components/profile';
@use './scss/components/profile-picture';
@use './scss/components/project-collaborators-table';
@use './scss/components/project-list-table';
@use './scss/components/project-properties';
@use './scss/components/project-selector';
@use './scss/components/progress-spinner';
@use './scss/components/table';
@use './scss/components/table-constraint';
@use './scss/components/table-ddl';
@use './scss/components/table-index';
@use './scss/components/table-objects';
@use './scss/components/top-bar';
@use './scss/components/user-identifier';

@include mat.elevation-classes();
@include mat.app-background();

html {
  @include mat.elevation-classes();
  @include mat.app-background();

  @include mat.button-theme(t.$theme);
  @include mat.dialog-theme(t.$theme);
  @include mat.expansion-theme(t.$theme);
  @include mat.form-field-theme(t.$theme);
  @include mat.icon-theme(t.$theme);
  @include mat.icon-button-theme(t.$theme);
  @include mat.list-theme(t.$theme);
  @include mat.menu-theme(t.$theme);
  @include mat.progress-bar-theme(t.$theme);
  @include mat.progress-spinner-theme(t.$theme);
  @include mat.ripple-theme(t.$theme);
  @include mat.select-theme(t.$theme);
  @include mat.sort-theme(t.$theme);
  @include mat.table-theme(t.$theme);
  @include mat.tabs-theme(t.$theme);
  @include mat.toolbar-theme(t.$theme);
  @include mat.tooltip-theme(t.$theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-root {
  height: 100vh;
  background-color: mat.get-theme-color(t.$theme, surface-container);
  overflow: hidden;
}

.app-content {
  --app-top-bar-height: var(--mat-toolbar-standard-height);
  height: calc(100vh - var(--app-top-bar-height));

  @media (max-width: 599.99px) { // breakpoint used by @angular/material for toolbar height
    --app-top-bar-height: var(--mat-toolbar-mobile-height);
  }

  &.no-top-bar {
    height: 100vh;
  }
}

.app-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  > * {
    width: 100%;

    @include breakpoints.breakpoint-up(md) {
      width: breakpoints.get-breakpoint-size(md);
    }
  }

  &__message {
    margin-bottom: 1rem;
  }
}
