@let err = error();
<app-layout-auth [title]="('AUTH.LOGIN_TITLE' | translate)()" [loading]="loading()" [error]="err ? (err | translate)() : null">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>{{ ('AUTH.USERNAME_LABEL' | translate)() }}</mat-label>
      <input required matInput formControlName="username">
      @if (loginForm.controls.username.invalid) {
        <mat-error>{{ (loginForm.controls.username.errors | formatGenericValidationErrors)() }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ ('AUTH.PASSWORD_LABEL' | translate)() }}</mat-label>
      <input required matInput type="password" formControlName="password">
      @if (loginForm.controls.password.invalid) {
        <mat-error>{{ (loginForm.controls.password.errors | formatGenericValidationErrors)() }}</mat-error>
      }
    </mat-form-field>

    <div class="actions">
      <button mat-icon-button type="button" (click)="changeLocale()">
        <mat-icon>language</mat-icon>
      </button>
      <div class="actions__spacer"></div>
      <a mat-button [routerLink]="['/register']">{{ ('AUTH.REGISTER_REDIRECT' | translate)() }}</a>
      <button mat-flat-button type="submit">{{ ('AUTH.LOGIN_BUTTON' | translate)() }}</button>
    </div>
  </form>
</app-layout-auth>
