<app-layout-header-and-content
  [title]="('DATA_MODEL.DATA_TYPE.$layer.EDIT_TITLE' | dataModelingTranslate: { name: dataType()?.name ?? '' })()"
  [includeSpacing]="loading() || !!error()"
>
  @if (error()) {
    <app-alert type="error">{{ ((error() ?? 'GENERIC.ERROR_LABEL') | translate)() }}</app-alert>
  }

  <form [formGroup]="propertiesForm">
    <app-section-header [title]="('DATA_MODEL.DATA_TYPE.$layer.PROPERTIES_LABEL' | dataModelingTranslate)()"/>

    <mat-form-field class="w-100">
      <mat-label>{{ ('DATA_MODEL.DATA_TYPE.$layer.NAME_LABEL' | dataModelingTranslate)() }}</mat-label>
      <input matInput required formControlName="name">
      @if (nameControl.invalid) {
        <mat-error>{{ (nameControl.errors | formatGenericValidationErrors)() }}</mat-error>
      }
    </mat-form-field>

    <app-save-delete-control
      [deleteLoading]="deleteLoading()"
      [saveLoading]="updateLoading()"
      [deleteDisabled]="loading()"
      [saveDisabled]="loading()"
      (delete)="deleteDataType()"
      (save)="updateDataType()" />
  </form>
</app-layout-header-and-content>
