<app-layout-header-and-content
  [title]="('DATA_MODEL.DATA_TYPE.EDIT_TITLE' | translate: { name: dataType()?.name ?? '' })()"
  [includeSpacing]="loading() || !!error()">
  @if (error()) {
    <app-alert type="error">{{ ((error() ?? 'GENERIC.ERROR_LABEL') | translate)() }}</app-alert>
  }
  <form class="data-model-data-type" [formGroup]="propertiesForm" (ngSubmit)="updateDataType()">
    <h4>{{ ('DATA_MODEL.DATA_TYPE.PROPERTIES_LABEL' | translate)() }}</h4>

    <div class="data-model-data-type__main">
      <mat-form-field>
        <mat-label>{{ ('DATA_MODEL.DATA_TYPE.NAME_LABEL' | translate)() }}</mat-label>
        <input matInput required formControlName="name">
        @if (nameControl.invalid) {
          <mat-error>{{ (nameControl.errors | formatGenericValidationErrors)() }}</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="data-model-data-type__control">
      <button mat-flat-button (click)="deleteDataType()" type="button" [disabled]="loading()">
        <mat-icon>delete</mat-icon>
        @if (deleteLoading()) {
          <app-progress-spinner [center]="true" size="small"/>
        } @else {
          {{ ('GENERIC.DELETE_LABEL' | translate)() }}
        }
      </button>

      <button mat-flat-button type="submit" [disabled]="loading() || propertiesForm.invalid">
        <mat-icon>save</mat-icon>
        @if (updateLoading()) {
          <app-progress-spinner [center]="true" size="small"/>
        } @else {
          {{ ('GENERIC.SAVE_LABEL' | translate)() }}
        }
      </button>
    </div>
  </form>
</app-layout-header-and-content>
