<div class="table__header">
  <mat-icon class="icon" [matTooltip]="('TABLES.LABEL' | translate)()">table</mat-icon>
  <h2 class="text-code">{{ tableName() }}</h2>
</div>

<app-nav-tab-group [baseRouterLink]="['/project', projectId(), 'table', tableName()]" [tabs]="TABLE_TABS">
  <div class="table__content-host">
    @if (loading()) {
      <app-progress-spinner class="d-block mt-1" [center]="true" />
    } @else {
      @let err = error();
      @if (err !== null) {
        <app-project-connection-error-alert class="d-block mt-1" [error]="err" />
      } @else {
        <router-outlet />
      }
    }
  </div>
</app-nav-tab-group>
