<app-layout-header-and-content [title]="('HELP.FAQ_LABEL' | translate)()">
  <button ngProjectAs="header-action" mat-flat-button [disabled]="loading()" (click)="create()">
    <mat-icon appIconEmphasis="high">add</mat-icon>
    {{ ('ADMIN.FAQ.ADD_LABEL' | translate)() }}
  </button>

  @if (loading()) {
    <app-progress-spinner [center]="true" />
  } @else if (errorLoad()) {
    <app-alert class="d-block mt-1" type="error">{{ ('GENERIC.ERROR_LABEL' | translate)() }}</app-alert>
  } @else {
    @if (resultChange() === true) {
      <app-alert class="d-block mt-1 mb-1" type="info">{{ ('GENERIC.SUCCESS_LABEL' | translate)() }}</app-alert>
    } @else if (resultChange() === false) {
      <app-alert class="d-block mt-1 mb-1" type="error">{{ ('GENERIC.ERROR_LABEL' | translate)() }}</app-alert>
    }
    @if (faqPosts().length > 0) {
      <app-admin-faq-table [faqPosts]="faqPosts()" (edit)="update($event)" (delete)="delete($event)" />
    } @else {
      <app-alert class="d-block mt-1" type="info">{{ ('HELP.FAQ_EMPTY_LABEL' | translate)() }}</app-alert>
    }
  }
</app-layout-header-and-content>
