@let constr = constraint();

<div class="table-constraint" [class.foreign-key]="constr.type === 'FOREIGN_KEY'">
  @switch (constr.type) {
    @case ('PRIMARY_KEY') {
      <app-table-constraint-primary-key [affectedColumns]="affectedColumns()" />
    }
    @case ('FOREIGN_KEY') {
      @if (isForeignKeyConstraint(constr)) {
        <app-table-constraint-foreign-key [constraint]="constr" [affectedColumns]="affectedColumns()" />
      }
    }
    @case ('CHECK') {
      @if (isCheckConstraint(constr)) {
        <app-table-constraint-check [constraint]="constr" [affectedColumns]="affectedColumns()" />
      }
    }
    @case ('UNIQUE') {
      <app-table-constraint-unique [affectedColumns]="affectedColumns()" />
    }
  }
</div>
