@use '@angular/material' as mat;
@use '../theme' as t;

.layout-header-and-content {
  height: 100%;

  &__header {
    display: grid;
    align-items: center;
    border-bottom: 1px solid mat.get-theme-color(t.$theme, outline-variant);
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "prefix header spacer action";

    &__prefix {
      grid-area: prefix;

      a {
        margin-right: 0.5rem;
      }
    }

    h2 {
      grid-area: header;
    }

    &__action {
      grid-area: action;
    }
  }

  &__content {
    max-height: calc(100% - 5rem);
    overflow-y: auto;
  }

  &.include-spacing &__content {
    padding-top: 0.5rem;
  }

  &.full-height &__content {
    height: 100%;
    overflow-y: hidden;
  }
}
