@use '@angular/material' as mat;
@import '../theme';

@mixin app-layout-header-and-content($options: ()) {
  .layout-header-and-content {
    height: 100%;

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid mat.get-theme-color($theme, outline-variant);
    }

    &__content {
      max-height: calc(100% - 5rem);
      overflow-y: auto;
    }

    &.include-spacing &__content {
      padding-top: 0.5rem;
    }
  }
}
