<h2 mat-dialog-title>{{ ('DATAMODEL.ENTITY.CREATE.HEADER' | translate)() }}</h2>

<mat-dialog-content>
  <div class="data-model-create-dialogs">
    @if (error()) {
      <app-alert type="error">{{ ('ERROR.GENERIC' | translate)() }}</app-alert>
    }
    <form [formGroup]="form">
      <mat-form-field class="data-model-create-dialogs__form">
        <mat-label>{{ ('DATAMODEL.ENTITY.CREATE.LABEL' | translate)() }}</mat-label>
        <input type="text"
               [placeholder]="('DATAMODEL.ENTITY.CREATE.PLACEHOLDER' | translate)()"
               matInput
               required
               formControlName="name">
        @if (form.controls.name.invalid) {
          <mat-error>{{ (form.controls.name.errors | formatGenericValidationErrors)() }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-flat-button
    (click)="confirm()"
    [disabled]="form.invalid || loading()">
    @if (loading()) {
      <app-progress-spinner [center]="true" size="small"/>
    } @else {
      {{ ('GENERIC.CONFIRM_LABEL' | translate)() }}
    }
  </button>
</mat-dialog-actions>

