<mat-table class="project-list-table" [dataSource]="projects()">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{ ('PROJECTS.LIST_COLUMN.NAME_LABEL' | translate)() }}</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dbType">
    <mat-header-cell *matHeaderCellDef>{{ ('PROJECTS.LIST_COLUMN.DB_TYPE_LABEL' | translate)() }}</mat-header-cell>
    <mat-cell *matCellDef="let project">{{ project.dbType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="owner">
    <mat-header-cell *matHeaderCellDef>{{ ('PROJECTS.LIST_COLUMN.OWNER_LABEL' | translate)() }}</mat-header-cell>
    <mat-cell *matCellDef="let project">username</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS" />
  <mat-row matRipple *matRowDef="let project; columns: DISPLAYED_COLUMNS" (click)="selected.emit(project)" />
</mat-table>
