<div class="diagram-entity-relationship__entity text-code">
  <span class="diagram-entity-relationship__entity__name">{{ entity().name }}</span>
  <div class="diagram-entity-relationship__entity__attributes__wrapper">
    <table class="diagram-entity-relationship__entity__attributes">
      @for (attribute of entity().attributes; track attribute.name) {
        <tr>
          @if (hasPrimaryKey()) {
            <td class="primary-key">
              @if (attribute.primaryKey) {
                <mat-icon
                  [matTooltip]="('DIAGRAM.ENTITY_RELATIONSHIP.PRIMARY_KEY' | translate)()"
                  [matTooltipClass]="['diagram-entity-relationship__tooltip']"
                >key</mat-icon>
              }
            </td>
          }
          <td>{{ attribute.name }}</td>
          <td>{{ attribute.type }}</td>
          @if (hasNotNullAttribute()) {
            <td>{{ attribute.nullable ? '' : 'NN' }}</td>
          }
          @for (uniqueGroup of entity().uniqueGroups; track uniqueGroup; let index = $index; let count = $count) {
            <td>{{ uniqueGroup.includes(attribute.name) ? formatUniqueGroupText(index, count) : '' }}</td>
          }
          @for (relationship of relationshipsToDirectParents(); track relationship.id; let index = $index) {
            @let highlight = highlightRelationshipIds().includes(relationship.id);

            <td class="reference" [class.highlight]="highlight">
              @if (isReferencedInRelationship(relationship, attribute.name)) {
                <mat-icon
                  [appIconEmphasis]="highlight ? 'high' : 'default'"
                  [matTooltip]="('DIAGRAM.ENTITY_RELATIONSHIP.FOREIGN_KEY' | translate: { position: index + 1 })()"
                  [matTooltipClass]="['diagram-entity-relationship__tooltip']"
                >key</mat-icon>
              }
            </td>
          }
        </tr>
      }
    </table>
  </div>
</div>
