<div class="diagram-entity-relationship__entity text-code">
  <span class="diagram-entity-relationship__entity__name">{{ entity().name }}</span>
  <div class="diagram-entity-relationship__entity__attributes__wrapper">
    <table class="diagram-entity-relationship__entity__attributes">
      @for (attribute of entity().attributes; track attribute.name) {
        <tr>
          @if (hasPrimaryKey()) {
            <td class="primary-key">
              @if (attribute.primaryKey) {
                <mat-icon>key</mat-icon>
              }
            </td>
          }
          <td>{{ attribute.name }}</td>
          <td>{{ attribute.type }}</td>
          @if (hasNotNullAttribute()) {
            <td>{{ attribute.nullable ? '' : 'NOT NULL' }}</td>
          }
        </tr>
      }
    </table>
  </div>
</div>
