@if (store.loading()) {
  <mat-progress-bar mode="indeterminate" />
} @else if (store.error()) {
  <div class="data-modeler__error">
    <app-alert type="error">{{ ('GENERIC.ERROR_LABEL' | translate)() }}</app-alert>
  </div>
} @else {
  <div
    class="data-modeler"
    appFullscreen
    #fullscreenHost="appFullscreen"
    [appBlockExit]="diagramState.hasUnsavedPositions()"
  >
    <app-layout-content-with-sidebar [reverse]="true">
      <app-data-modeler-properties-host ngProjectAs="sidebar" />

      <app-content-card
        (keydown.escape)="state.disableConnectMode()"
        (keydown.delete)="onDeletePressed()"
        (keydown.backspace)="onDeletePressed()"
      >
        <app-layout-header-and-content [title]="diagramState.diagramName()" [fullHeight]="true">
          <a ngProjectAs="header-prefix" mat-icon-button [routerLink]="backNavigationCommand()">
            <mat-icon>arrow_back</mat-icon>
          </a>

          <app-data-modeler-actions
            [diagramHost]="schemaDiagram.diagramHost()"
            [fullscreenHost]="fullscreenHost"
            [hasUnsavedPositions]="diagramState.hasUnsavedPositions()"
            (save)="savePositions()"
          />

          <div class="data-modeler__diagram">
            <app-schema-diagram
              #schemaDiagram
              [connectMode]="state.connectMode()"
              [patches$]="diagramState.patches$"
              (connectNodes)="onConnectNodes($event)"
              (selectionChanged)="state.setCurrentSelection($event)"
              (diagramModified)="diagramState.markPositionsUnsaved()"
            />

            <div class="data-modeler__loading-overlay" [class.is-visible]="state.loading()">
              <mat-progress-bar mode="indeterminate" />
            </div>
          </div>
        </app-layout-header-and-content>
      </app-content-card>
    </app-layout-content-with-sidebar>
  </div>
}
