<mat-accordion multi="true" displayMode="flat" class="project-object-list">
  <mat-expansion-panel class="mat-elevation-z0">
    @let label = ('TABLES.LIST_LABEL' | translate)();
    <mat-expansion-panel-header>{{ label }}</mat-expansion-panel-header>
    <mat-nav-list [attr.aria-label]="label">
      <a mat-list-item>TABLE_FIRST</a>
      <a mat-list-item>TABLE_SECOND</a>
      <a mat-list-item>TABLE_THIRD</a>
      <a mat-list-item>TABLE_FOURTH</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
