<app-content-card>
  <div class="project-list__header">
    <h2>{{ ('PROJECTS.LIST_LABEL' | translate)() }}</h2>
    <button mat-flat-button>{{ ('PROJECTS.BUTTON_CREATE' | translate)() }}</button>
  </div>
  @if (loading()) {
    <mat-progress-spinner mode="indeterminate" />
  } @else if (projects().length > 0) {
    <app-project-list-table [projects]="projects()" (selected)="openProject($event)" />
  } @else {
    <app-alert type="info">{{ ('PROJECTS.LIST_EMPTY' | translate)() }}</app-alert>
  }
</app-content-card>
