<mat-form-field class="data-model-create-dialogs__form">
  <mat-label>{{ label() }}</mat-label>
  <input matInput required [formControl]="control()" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" class="data-model-create-dialogs__auto">
    @for (type of filteredTypes(); track type.typeId) {
      <mat-option [value]="type.name">{{ type.name }}</mat-option>
    }
  </mat-autocomplete>
  @if (control().invalid) {
    <mat-error>{{ (control().errors | formatGenericValidationErrors)() }}</mat-error>
  }
</mat-form-field>
