@use '@angular/material' as mat;
@use '../theme' as t;
@use '../utilities/breakpoints' as breakpoints;

.error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;

  h2 {
    font: mat.get-theme-typography(t.$theme, display-large);
    margin: 1rem;
    text-align: center;
  }

  &__image {
    position: relative;
    width: 15rem;
    aspect-ratio: 367 / 431;

    @include breakpoints.breakpoint-down(sm) {
      display: none;
    }
  }
}
