@mixin app-admin-faq($options: ()) {
  .admin-faq {
    &__table {
      .mat-column-id,
      .mat-column-actions {
        width: 3rem;
      }
    }

    &__modify-dialog__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }
  }
}
