@use '@angular/material' as mat;
@use '../theme' as t;
@use '../utilities/breakpoints' as breakpoints;

.content-card {
  --content-card-bottom-spacing: 0px;
  background-color: mat.get-theme-color(t.$theme, surface);
  padding: 1rem;
  height: calc(100% - var(--content-card-bottom-spacing));

  &.dim {
    background-color: mat.get-theme-color(t.$theme, surface-container-low);
  }

  @include breakpoints.breakpoint-up(md) {
    padding: 1rem 2rem;
  }

  @include breakpoints.breakpoint-up(lg) {
    --content-card-bottom-spacing: 1rem;
    border-radius: 16px;
  }
}

@include breakpoints.breakpoint-up(lg) {
  // when used in root route component
  .app-content > * > * > .content-card {
    margin: 0 1rem;
  }

  // when used in main content of layout-content-with-sidebar
  .layout-content-with-sidebar {
    &:not(.reverse) &__sidebar > * > .content-card {
      margin-left: 1rem;
    }

    &:not(.reverse) &__content > * > .content-card {
      margin-right: 1rem;
    }

    &.reverse &__sidebar > * > .content-card {
      margin-right: 1rem;
    }

    &.reverse &__content > * > .content-card {
      margin-left: 1rem;
    }
  }
}
