@use '@angular/material' as mat;
@use '../utilities/breakpoints' as breakpoints;

// TODO: rename
.data-model-create-dialogs {
  @include breakpoints.breakpoint-up(md) {
    width: calc(var(--mat-dialog-container-max-width) - 3rem);
  }

  app-alert {
    margin-bottom: .5rem;
  }

  &__auto {
    @include mat.autocomplete-overrides((
      background-color: white,
    ));
  }

  &__form {
    width: 100%;
  }
}
