@use '@angular/material' as mat;

.model-nav {
  &__container {
    height: 100%;
    overflow-y: auto;
    padding-left: 0.5rem;
  }

  > a {
    --mat-list-list-item-label-text-weight: 500;
  }
}

.data-model-object-selector {
  --mat-list-list-item-one-line-container-height: 2.5rem;

  @include mat.expansion-overrides((
          container-background-color: transparent,
  ));

  .mat-expansion-panel-header {
    padding-left: 1rem;
  }

  &.mat-expansion-panel:not([class*="mat-elevation-z"]) {
    @include mat.elevation(0);

    .mat-expansion-panel-header-title {
      text-wrap: nowrap;
    }

    .mat-expansion-panel-header-description {
      display: flex;
      justify-content: right;
    }
  }
}
