@use '@angular/material' as mat;
@use '../theme' as t;

.diagram-entity-relationship {
  &__entity {
    user-select: none;

    &__name {
      display: block;
      font: mat.get-theme-typography(t.$theme, label-large);
      padding: 0 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }

    &__columns {
      border-collapse: collapse;

      &__wrapper {
        background-color: mat.get-theme-color(t.$theme, secondary-container);
        color: mat.get-theme-color(t.$theme, on-secondary-container);
        border-radius: 0.5rem;
        padding: 0.5rem;
      }

      td {
        height: 1.625rem;
        padding: 1px;

        & + td {
          padding-left: 1rem;
        }

        &.primary-key {
          color: mat.get-theme-color(t.$theme, primary);
          padding: 0 1px;

          mat-icon {
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.25rem;
          }
        }

        &.primary-key + td {
          padding-left: 0.5rem;
        }
      }
    }
  }
}
