@use '@angular/material' as mat;
@use '../theme' as t;

.diagram-grid-control {
  background-color: mat.get-theme-color(t.$theme, surface-container-low);
  border: 1px solid mat.get-theme-color(t.$theme, outline-variant);
  border-radius: 2rem;
}
