.djs-resizer-hit {
  fill: none;
  pointer-events: all;
}

.djs-resizer-n,
.djs-resizer-s {
  cursor: ns-resize;
}

.djs-resizer-e,
.djs-resizer-w {
  cursor: ew-resize;
}

.djs-resizer-ne,
.djs-resizer-sw {
  cursor: nesw-resize;
}

.djs-resizer-nw,
.djs-resizer-se {
  cursor: nwse-resize;
}
