@use '../utilities/breakpoints' as breakpoints;

@mixin app-project-collaborators-table($options: ()) {
  .project-collaborators-table {
    .mat-column-picture {
      width: 2.75rem;
    }

    .mat-column-actions {
      width: 2rem;
    }

    @include breakpoints.breakpoint-down(sm) {
      .mat-column-email {
        display: none;
      }
    }
  }
}
