.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;

  h4:not(:has(+ button)) {
    margin: 1rem 0 0.5rem 0;
  }

  h4:has(+ button) {
    margin: 0;
  }
}
