@use '@angular/material' as mat;
@import '../theme';

@mixin app-table-constraints($options: ()) {
  .table-constraints {
    .mat-column-icon,
    .mat-column-enabled,
    .mat-column-expand {
      width: 3rem;
      text-align: center;
    }

    .mat-column-icon,
    tbody .mat-column-enabled,
    .mat-column-expand {
      color: mat.get-theme-color($theme, secondary);
    }

    &__constraint-row:hover {
      background-color: mat.get-theme-color($theme, surface-container-low);
      cursor: pointer;
    }

    &__detail-row {
      display: none;
      height: 0;

      &.is-expanded {
        display: table-row;
      }
    }
  }
}
