@use '@angular/material' as mat;
@import '../utilities/breakpoints';
@import '../theme';

@mixin app-table-columns($options: ()) {
  .table-columns {
    .mat-column-icon,
    .mat-column-order {
      width: 3rem;
    }

    .mat-column-icon {
      color: mat.get-theme-color($theme, secondary);
    }

    @include breakpoint-down(sm) {
      .mat-column-order {
        display: none;
      }
    }
  }
}
