@use '@angular/material' as mat;
@use '../theme' as t;
@import '../utilities/breakpoints';

@mixin app-table-columns($options: ()) {
  .table-columns {
    .mat-column-icon,
    .mat-column-primary-key,
    .mat-column-order,
    .mat-column-nullable {
      width: 3rem;
      text-align: center;
    }

    .mat-column-icon,
    tbody .mat-column-nullable {
      color: mat.get-theme-color(t.$theme, secondary);
    }

    .mat-column-primary-key {
      color: mat.get-theme-color(t.$theme, primary);
    }

    @include breakpoint-down(sm) {
      .mat-column-order {
        display: none;
      }
    }
  }
}
