<div
  class="alert"
  [class.alert--info]="type() === 'info'"
  [class.alert--error]="type() === 'error'"
>
  @if (showIcon()) {
    <div class="alert__icon">
      @switch (type()) {
        @case ('info') {
          <mat-icon [matTooltip]="(tooltipKey() | translate)()">info</mat-icon>
        }
        @case ('error') {
          <mat-icon [matTooltip]="(tooltipKey() | translate)()">error</mat-icon>
        }
      }
    </div>
  }
  <div class="alert__content">
    <ng-content />
  </div>
</div>
