@if (relationshipsResource().isLoading()) {
  <app-progress-spinner class="d-block pt-1" [center]="true" />
} @else if (relationshipsResource().error()) {
  <app-project-connection-error-alert class="d-block pt-1" [error]="relationshipsResource().error()" />
} @else if (relationshipsResource().value() === null) {
  <app-alert class="d-block pt-1" type="error">{{ ('TABLES.RELATIONSHIPS.SELECTION_NOT_FOUND' | translate)() }}</app-alert>
} @else {
  <div class="table-relationships-diagram" appFullscreen #fullscreenHost="appFullscreen">
    <app-schema-diagram #schemaDiagram [patches$]="patches$" />
    <div class="table-relationships-diagram__controls">
      <app-diagram-grid-control [diagramHost]="schemaDiagram.diagramHost()" />
      <app-diagram-export-control [diagramHost]="schemaDiagram.diagramHost()"
                                  [additionalClasses]="['schema-diagram', 'hide-grid']" />
      <app-diagram-zoom-control [diagramHost]="schemaDiagram.diagramHost()" />
      <app-diagram-fullscreen-control [fullscreenHost]="fullscreenHost" />
    </div>
  </div>
}
