@if (relationshipsResource().isLoading()) {
  <app-progress-spinner class="d-block pt-1" [center]="true" />
} @else if (relationshipsResource().error()) {
  <app-project-connection-error-alert class="d-block pt-1" [error]="relationshipsResource().error()" />
} @else if (relationshipsResource().value() === null) {
  <app-alert class="d-block pt-1" type="error">{{ ('TABLES.RELATIONSHIPS.SELECTION_NOT_FOUND' | translate)() }}</app-alert>
} @else {
  <app-diagram-entity-relationship [entities]="entities()" [relationships]="relationships()" />
}
