@use '@angular/material' as mat;
@use '../theme' as t;

* {
  box-sizing: border-box;
}

h1,
h2 {
  font: mat.get-theme-typography(t.$theme, headline-large);
}

h2 {
  margin: 1rem 0;
}

h3 {
  font: mat.get-theme-typography(t.$theme, title-large);
}

h4 {
  font: mat.get-theme-typography(t.$theme, title-medium);
}

// https://github.com/angular/components/issues/27118
span.mat-mdc-button-touch-target {
  height: unset !important;
}
