<app-content-card>
  <app-layout-header-and-content [title]="('DATAMODEL.LABEL' | translate)()" [includeSpacing]="dataModels().length === 0">
    <a ngProjectAs="header-action" mat-flat-button [routerLink]="['/model', 'create']">
      <mat-icon appIconEmphasis="high">add</mat-icon>
      {{ ('DATAMODEL.ADD_BUTTON_LABEL' | translate)() }}
    </a>

    @if (dataModels().length > 0) {
      <app-data-model-list-table [dataModels]="dataModels()" (selected)="openDataModel($event)" />
    } @else {
      <app-alert type="info">{{ ('DATAMODEL.LIST_EMPTY' | translate)() }}</app-alert>
    }
  </app-layout-header-and-content>
</app-content-card>
