<form class="profile__change_password" [formGroup]="passwordForm" (ngSubmit)="submit()">
  <mat-form-field class="profile__change_password__old">
    <mat-label>{{ ('AUTH.OLD_PASSWORD_LABEL' | translate)() }}</mat-label>
    <input matInput formControlName="oldPassword" type="password" required>
    @if (passwordForm.controls.oldPassword.invalid) {
      <mat-error>{{ (passwordForm.controls.oldPassword.errors | formatGenericValidationErrors)() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="profile__change_password__new">
    <mat-label>{{ ('AUTH.NEW_PASSWORD_LABEL' | translate)() }}</mat-label>
    <input matInput formControlName="newPassword" type="password" required>
    @if (passwordForm.controls.newPassword.invalid) {
      <mat-error>{{ (passwordForm.controls.newPassword.errors | formatGenericValidationErrors)() }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="profile__change_password__verify">
    <mat-label>{{ ('AUTH.VERIFY_PASSWORD_LABEL' | translate)() }}</mat-label>
    <input matInput formControlName="verifyPassword" type="password" required>
    @if (passwordForm.controls.verifyPassword.invalid) {
      <mat-error>{{ (passwordForm.controls.verifyPassword.errors | formatGenericValidationErrors)() }}</mat-error>
    }
  </mat-form-field>

  <div class="profile__actions profile__change_password__actions">
    <button mat-flat-button type="submit">
      <mat-icon>save</mat-icon>
      {{ ('GENERIC.SAVE_LABEL' | translate)() }}
    </button>
  </div>
</form>
