<form class="profile__change_password">
  <mat-form-field class="profile__change_password__old">
    <mat-label>Old password</mat-label>
    <input matInput type="text" required>
    <mat-error>Test Error</mat-error>
  </mat-form-field>

  <mat-form-field class="profile__change_password__new">
    <mat-label>New password</mat-label>
    <input matInput type="text" required>
    <mat-error>Test Error</mat-error>
  </mat-form-field>

  <mat-form-field class="profile__change_password__verify">
    <mat-label>{{ ('AUTH.VERIFY_PASSWORD_LABEL' | translate)() }}</mat-label>
    <input matInput type="text" required>
    <mat-error>Test Error</mat-error>
  </mat-form-field>

  <div class="profile__actions profile__change_password__actions">
    <button mat-flat-button type="submit">
      <mat-icon>save</mat-icon>
      {{ ('GENERIC.SAVE_LABEL' | translate)() }}
    </button>
  </div>
</form>
