<div class="nav__container">
  <mat-nav-list class="nav">
    <a
      mat-list-item
      [routerLink]="['/model', dataModelId(), 'properties']"
      routerLinkActive
      #rla="routerLinkActive"
      [activated]="rla.isActive"
      appSidebarClose
    >{{ ('DATAMODEL.NAV.PROPERTIES' | translate)() }}</a>

    <!-- TODO: refactor to common component along with project-object-selector -->
    <mat-expansion-panel class="object-selector">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ ('DATAMODEL.NAV.DIAGRAMS' | translate)() }}</mat-panel-title>
        <mat-panel-description>
          <button matIconButton (click)="$event.stopPropagation(); addNewDiagram()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        @for (diagram of store.diagrams(); track diagram.id) {
          <a
            mat-list-item
            [routerLink]="['/modeler', dataModelId(), 'logical', diagram.id]"
          >{{ diagram.name }}</a>
        }
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel class="object-selector">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ ('DATAMODEL.NAV.ENTITIES' | translate)() }}</mat-panel-title>
        <mat-panel-description>
          <button matIconButton (click)="$event.stopPropagation(); addNewEntity()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        @for (entity of store.entities(); track entity.entityId) {
          <a
            mat-list-item
            [routerLink]="['/model', dataModelId(), 'entity', entity.entityId]"
            routerLinkActive
            #rlaEntity="routerLinkActive"
            [activated]="rlaEntity.isActive"
          >{{ entity.name }}</a>
        }
      </ng-template>
    </mat-expansion-panel>

    <mat-expansion-panel class="object-selector">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ ('DATAMODEL.NAV.DATA_TYPES' | translate)() }}</mat-panel-title>
        <mat-panel-description>
        <button matIconButton (click)="$event.stopPropagation(); addNewDataType()">
          <mat-icon>add</mat-icon>
        </button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        @for (dataType of store.dataTypes(); track dataType.typeId) {
          <a
            mat-list-item
            [routerLink]="['/model', dataModelId(), 'data-type', dataType.typeId]"
            routerLinkActive
            #rlaDataType="routerLinkActive"
            [activated]="rlaDataType.isActive"
          >{{ dataType.name }}</a>
        }
      </ng-template>
    </mat-expansion-panel>
  </mat-nav-list>
</div>
