<div class="app-root">
  @if (loading()) {
    <app-progress-spinner [center]="true" />
  } @else if (error() !== null) {
    <div class="app-error">
      <app-alert type="error">
        <div class="app-error__message">
          There was an error loading needed data for application!
          Please try again later.
        </div>
        <div>Error: {{ error() }}</div>
      </app-alert>
    </div>
  } @else {
    @if (showTopBar()) {
      <app-top-bar>
        <app-project-selector />

        @let user = currentUser();
        @if (user !== null) {
          <app-user-identifier [user]="user" (language)="changeLocale()" (logout)="logout()" />
        }
      </app-top-bar>
    }

    <div class="app-content" [class.no-top-bar]="!showTopBar()">
      <router-outlet />
    </div>
  }
</div>
