<form [formGroup]="form" [class.data-model-edge-editor--compact]="compact()">
  <app-section-header [title]="('DATA_MODEL.EDGE.NODES_LABEL' | translate)()" />

  <div class="data-model-edge-editor__nodes">
    <div class="data-model-edge-editor__node-row">
      <div class="data-model-edge-editor__node-name">
        <span class="data-model-edge-editor__node-direction">{{ ('DATA_MODEL.EDGE.FROM_NODE_LABEL' | translate)() }}</span>
        <span>{{ fromNodeName() }}</span>
      </div>
      <button
        mat-icon-button
        [matTooltip]="('DATA_MODEL.EDGE.GO_TO_NODE_TOOLTIP' | translate)()"
        (click)="goToNode(edge().fromNodeId)">
        <mat-icon>link</mat-icon>
      </button>
    </div>

    <div class="data-model-edge-editor__node-row">
      <div class="data-model-edge-editor__node-name">
        <span class="data-model-edge-editor__node-direction">{{ ('DATA_MODEL.EDGE.TO_NODE_LABEL' | translate)() }}</span>
        <span>{{ toNodeName() }}</span>
      </div>
      <button
        mat-icon-button
        [matTooltip]="('DATA_MODEL.EDGE.GO_TO_NODE_TOOLTIP' | translate)()"
        (click)="goToNode(edge().toNodeId)">
        <mat-icon>link</mat-icon>
      </button>
    </div>
  </div>

  <app-section-header [title]="('DATA_MODEL.EDGE.PROPERTIES_LABEL' | translate)()" />

  <mat-form-field class="w-100">
    <mat-label>{{ ('DATA_MODEL.EDGE.TYPE_LABEL' | translate)() }}</mat-label>
    <mat-select formControlName="type">
      <mat-option [value]="'1:1'">{{ ('DATA_MODEL.EDGE.TYPE_ONE_TO_ONE' | translate)() }}</mat-option>
      <mat-option [value]="'1:N'">{{ ('DATA_MODEL.EDGE.TYPE_ONE_TO_MANY' | translate)() }}</mat-option>
    </mat-select>
  </mat-form-field>

  <span [matTooltip]="( 'DATA_MODEL.EDGE.IDENTIFYING_CYCLE_TOOLTIP' | translate )()" [matTooltipDisabled]="!cannotEnableIdentifying()">
    <mat-checkbox formControlName="isIdentifying">{{ ('DATA_MODEL.EDGE.IDENTIFYING_LABEL' | translate)() }}</mat-checkbox>
  </span>
  <mat-checkbox formControlName="isMandatory">{{ ('DATA_MODEL.EDGE.MANDATORY_LABEL' | translate)() }}</mat-checkbox>
</form>
