<table mat-table class="project-collaborators-table" [dataSource]="collaborators()">
  <ng-container matColumnDef="picture">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let collaborator">
      <app-profile-picture [username]="collaborator.username" />
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>{{ ('AUTH.USERNAME_LABEL' | translate)() }}</th>
    <td mat-cell *matCellDef="let collaborator">{{ collaborator.username }}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>{{ ('AUTH.EMAIL_LABEL' | translate)() }}</th>
    <td mat-cell *matCellDef="let collaborator">{{ collaborator.email }}</td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>{{ ('PROJECTS.COLLABORATORS.ROLES.LABEL' | translate)() }}</th>
    <td mat-cell *matCellDef="let collaborator">{{ (collaborator.role | projectRoleTypeToLabel | translate)() }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let collaborator">
      <button mat-icon-button [matMenuTriggerFor]="moreMenu" [matMenuTriggerData]="{ collaborator }"
              [disabled]="collaborator.role === 'OWNER' || (collaborator.role === 'MANAGER' && !allowActionsForManagers())">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>

<mat-menu #moreMenu xPosition="before">
  <ng-template matMenuContent let-collaborator="collaborator">
    <button mat-menu-item (click)="changeRole.emit(collaborator)">
      <mat-icon>flag</mat-icon> {{ ('PROJECTS.COLLABORATORS.ROLES.CHANGE_BUTTON' | translate)() }}
    </button>
    <button mat-menu-item (click)="remove.emit(collaborator)">
      <mat-icon>delete</mat-icon> {{ ('GENERIC.DELETE_LABEL' | translate)() }}
    </button>
  </ng-template>
</mat-menu>
