<app-content-card
  class="data-modeler__properties-host"
  [background]="'dim'"
  [cdkTrapFocus]="formInvalid()"
  [appTrapClicks]="formInvalid()"
  appFocusLeft
  [allowOverlayFocus]="false"
  (clickTrapped)="notifyUserOfInvalidForm()"
  (focusLeft)="saveChanges()"
>
  <app-layout-header-and-content
    [title]="(titleKey() | translate)()"
    [titleLevel]="'low'"
    [fullHeight]="true"
  >
    <div class="data-modeler__properties-wrapper">
      <ng-container #editorTarget/>
    </div>
  </app-layout-header-and-content>
</app-content-card>
