<h2 mat-dialog-title>{{ ('DATAMODEL.DATA_TYPE.SELECT.HEADER' | translate)() }}</h2>

<mat-dialog-content>
  <div class="data-model-create-dialogs">
    <form [formGroup]="form">
      <app-data-type-name-field
        [dataTypes]="data.dataTypes"
        [control]="form.controls.name"
        [label]="('DATAMODEL.DATA_TYPE.SELECT.LABEL' | translate)()"/>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button (click)="confirm()" [disabled]="form.invalid">
    {{ ('GENERIC.CONFIRM_LABEL' | translate)() }}
  </button>
</mat-dialog-actions>
