<app-content-card>
  <app-layout-header-and-content [title]="('PROFILE.LABEL' | translate)()" [includeSpacing]="true">
    @if (loading()) {
      <app-progress-spinner [center]="true" />
    } @else {
      @let generalInfoResult = generalInformationResult();
      <h3>{{ ('PROFILE.GENERAL_INFORMATION_LABEL' | translate)() }}</h3>
      @if (generalInfoResult !== null) {
        <app-alert class="d-block mb-1" [type]="generalInfoResult === true ? 'info' : 'error'">
          {{ ((generalInfoResult === true ? 'PROFILE.UPDATE_SUCCESS' : generalInfoResult) | translate)() }}
        </app-alert>
      }
      <app-profile-general-form (changeUserInfo)="changeUserInfo($event)" [user]="user()" />

      @let changePassResult = changePasswordResult();
      <h3>{{ ('AUTH.CHANGE_PASSWORD_LABEL' | translate)() }}</h3>
      @if (changePassResult !== null) {
        <app-alert class="d-block mb-1" [type]="changePassResult === true ? 'info' : 'error'">
          {{ ((changePassResult === true ? 'AUTH.CHANGE_PASSWORD_SUCCESS' : changePassResult) | translate)() }}
        </app-alert>
      }
      <app-profile-change-password-form (changePassword)="changePassword($event)" />

      <h3>{{ ('PROFILE.DANGER_ZONE_LABEL' | translate)() }}</h3>
      @if (deleteError()) {
        <app-alert class="d-block mb-1" type="error">
          {{ ('GENERIC.ERROR_LABEL' | translate)() }}
        </app-alert>
      }
      <button class="profile__delete" mat-flat-button (click)="deleteUser()">
        <mat-icon>delete</mat-icon> {{ ('PROFILE.DELETE_ACCOUNT_LABEL' | translate)() }}
      </button>
    }
  </app-layout-header-and-content>
</app-content-card>
